<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>플라스크</title>
</head>
<body>
    <!-- jinja2 -->
    <!-- {# {{% %}} #} 로직 코드 주석 -->
    <!-- {# {{   }} #} 출력 코드 주석 -->
    {% if name == '지니' %}
        <h1>{{ name }}님, 안녕하십니까.</h1>
        <img src="http://betaimage.hankookilbo.com/level/2018/09/18/37461bcc-5715-4810-8592-fa8a5d7f6673.jpg" alt="지니">
    {% else %}
        <h1>{{ name }}아, 안녕~~</h1>
        <img src="https://pbs.twimg.com/profile_images/1007313784153620480/2VJM9zOS_400x400.jpg" alt="일반인">
    {% endif %}
</body>
</html>