<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/result">
        <select name="mood" id="">
            <option value="외로움">외로움</option>
            <option value="배고픔">배고픔</option>
            <option value="슬픔">슬픔</option>
        </select>
        <input type="radio" name="weather" value="맑음">맑음
        <input type="radio" name="weather" value="비">비
        <input type="submit" value="노래추천하기!">
    </form>
</body>
</html>